{# Page Template: Text Component Docs #}

{% extends "base.twig" %}

{% block content %}

    <div class="l-container c-wrapper">
        <div class="c-markdownc-markdown--writeup">
            {{ parsedown_writeup }}
        </div>

        <div class="c-markdown c-markdown--examples">
            {% for example in parsedown_examples %}
                {{ example }}
            {% endfor %}
        </div>

        <h2>{{ lang['Rendered Component'] }}</h2>
        <div class="c-rendered">
            {{ component_rendered }}
        </div>

        <h2>{{ lang['Rendered HTML'] }}</h2>
        <pre class="c-rendered--html">
            {{ component_rendered|esc_html }}
        </pre>

        <div class="c-markdown c-markdown--options">
            {{ parsedown_options }}
        </div>

    </div>

{% endblock %}
